.image-exit{
    width: 100vw;
    height: 100vh;
    position: fixed;

}
.exit-p{
    width: 20%;
    height: 20%;
    position:absolute;
    z-index: 2px;
    top: 55%;
    left:40%;
    font-family: Fondamento;
    font-size: 28px;
    color: black;
    text-align: center;
}
