.HomePage {
  width: 100vw;
  height: 100vh;
}


.img-home{
  width:100%;
  height: 100%;
  position: fixed;
  
}

.encart1{
  width: 20%;
  height: 20%;
  position:absolute;
  z-index: 2px;
  top: 25%;
  left:15%;
  font-family: Fondamento;
  font-size: 24px;
  color: white;
  
}

.encart2{
  width: 20%;
  height: 20%;
  position:absolute;
  z-index: 2px;
  top: 25%;
  right:15%;
  font-family: Fondamento;
  font-size: 24px;
  color:white;
}


.desc {
  line-height: 3em;
  text-align: center;
}

.entry-door {
  height: 50%;
  width: 11%;

  position: absolute;
  top: 40%;
  left : 45%;
  background-color: transparent;
  animation: pulse 1.3s infinite;
  cursor: pointer;
}

.entry-door:hover {
  animation: light 5s infinite linear;

}

@keyframes pulse {
  to {
    box-shadow: 20px 0 100px 15px white,
    -20px 0 100px 15px white,
    0 0 100px 15px white,
    0 0 100px 15px white;
  }
  }


@keyframes light {
  to {
    box-shadow: 200px 0 100px 30px white,
    -200px 0 100px 30px white,
    0 40px 100px 60px white,
    0 -30px 100px 60px white;

  }
  }


  .fronton{
    width: 20%;
    height: 20%;
    position:absolute;
    z-index: 2px;
    top: 22%;
    right:36.5%;
    font-weight: bold;
    font-size: 36px;
    color: white;
    font-family: 'Rye'; 
    
  }


.encart1, .encart2 {
  font-family: 'Fondamento';
}
