.Tavern{
    height: 100vh;
    width: 100vw;
}

.background-tavern{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    position: fixed;
}

.fa-exclamation-circle {
    font-size: 2rem;
    color: rgb(163, 66, 66);
    cursor: pointer;
    border-radius: 50%;
}

.bar-interaction{
    position: absolute;
    top: 57%;
    right: 48.9%;
    animation: pulsation 1.5s infinite;
}

.fountain-interaction {
    position: absolute;
    top: 27.5%;
    right: 49.2%;
    animation: poulpsation 1.5s infinite;
    color:#47a8d4;
}

.fountain-interaction:hover.scene-desc {
    opacity: 1;
}

.table-interaction {
    position: absolute;
    top: 58.5%;
    left: 21%;
    animation: pulsation 1.5s infinite;
    color: #FEDCFC;
}

.scene-desc {
    width: 7rem;
    height: 2rem;
    position: absolute;
    top: 12%;
    left: 47%;   
}



@keyframes pulsation {
    to {
      box-shadow: 0 0 2px 2px white;
    }
    }


@keyframes poulpsation {
    to {
        box-shadow: 0 0 2px 3px blue;
    }
    }

  