.Bar{
    font-family:'Fondamento';
    font-style: bold;
}

.background-fountain{
    width: 100%;
    height: 100%;
    margin: auto;
    object-fit: cover;
    position: fixed;
    position: absolute;
}

.cards-container{
    position: relative;
    display : flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    height: 100vh;
    
}

.godscards-bar{
    display: flex;
    margin:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width : 20vw;
    border-radius: 15px;
    background: #a34242;
    box-shadow:0 0 20px rgba(0, 0, 0, 1);
}

h2{
    padding: 10px;
}

.godsPictures{
    padding: 10px;
    width: 100%;
}

.god-description {
    color: black;
    padding : 10px;
}

.talk{
    padding: 10px;
    color: black;
}

.text-container-bar{
    position: relative;
}

.dialogue-bar-left1{
    width: 13%;
    height: 6.5%;
    background: #a34242;
    border-radius: 10px;
    position: absolute;
    left: 38%;
    top: 20%;
}

.dialogue-bar-left2{
    width: 13%;
    height: 6.5%;
    background: #a34242;
    border-radius: 10px;
    position: absolute;
    left: 38%;
    top: 36%;
    padding-left: 5px;
}

.dialogue-bar-left3{
    width: 13%;
    height: 4.8%;
    background: #a34242;
    border-radius: 10px;
    position: absolute;
    left: 38%;
    top: 50%;
    padding-left: 5px;
}

.left-point-bar{
    width: 0;
	height: 0;
	border-left: 1.5vh solid transparent;
	border-right: 1vh solid transparent;
	border-top: 5vh solid #a34242;
	position: absolute;
	top: 53%;
	left: -10%;
	transform: rotate(60deg);
}

.dialogue-bar-right1{
    width: 13%;
    height: 6.5%;
    background: #a34242;
    border-radius: 10px;
    position: absolute;
    left: 48%;
    top: 28%;
}

.dialogue-bar-right2{
    width: 13%;
    height: 4.5%;
    background: #a34242;
    border-radius: 10px;
    position: absolute;
    left: 48%;
    top: 44%;
}

.dialogue-bar-right3{
    width: 13%;
    height: 6.5%;
    background: #a34242;
    border-radius: 10px;
    position: absolute;
    left: 48%;
    top: 57%;
}

.right-point-bar{
    width: 0;
	height: 0;
	border-left: 1.5vh solid transparent;
	border-right: 1vh solid transparent;
	border-top: 5vh solid #a34242;
	position: absolute;
	top: 50%;
	left: 100%;
	transform: rotate(-60deg);
}

.back-btn-bar{
    position: absolute;
    top : 80%;
    left : 45%;
    padding: 10px;
    background-color: beige;
    border : 1px solid black;
    border-radius: 5px;
    cursor: pointer;
}

.show-text{
    position: absolute;
    font-size: 2em;
    top : 70%;
    left : 48%;
    background : #a34242;
    border: 4px solid #a34242;;
    padding :5px;
    border-radius: 50%;
    color: black;
    cursor: pointer;
}

.show-right-text1-bar{
    position: absolute;
}

.show-text:hover .dialogue-bar-left1{
    transition : 1s ease;
    position: absolute;
    opacity: 1;
    
}